﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.validation-summary-errors > ul { margin-bottom: 0;}


.boxed {
    position: relative;
    overflow: hidden;
    padding: 1.85714286em;
    margin-bottom: 30px;
    box-shadow: 5px 10px 8px #b3b3b3;
}

    .boxed.boxed--lg {
        padding: 2.78571429em;
    }

    .boxed.boxed--sm {
        padding: 1px;
    }

    .boxed.boxed--border {
        border: 1px solid #ececec;
    }

    .boxed > div[class*='col-']:first-child:not(.boxed) {
        padding-left: 0;
    }

    .boxed > div[class*='col-']:last-child:not(.boxed) {
        padding-right: 0;
    }

img + .boxed {
    margin-top: -1.85714286em;
}

@media all and (max-width: 767px) {
    .boxed {
        padding: 1.23809524em;
        margin-bottom: 15px;
    }

        .boxed.boxed--lg {
            padding: 1.23809524em;
        }

        .boxed div[class*='col-']:not(.boxed) {
            padding: 0;
        }

        .boxed:last-child {
            margin-bottom: 15px;
        }
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

    .navbar-brand:hover, .navbar-brand:focus {
        text-decoration: none;
    }

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

    .navbar-brand:hover, .navbar-brand:focus {
        text-decoration: none;
    }

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }


.navbar-dark .navbar-brand {
    color: #fff;
}

    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #fff;
    }

.navbar-dark .navbar-brand {
    color: #fff;
}

    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #fff;
    }
.ftco-navbar-light .navbar-brand {
    color: #000000;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {
        color: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .ftco-navbar-light .navbar-brand {
        color: #000000;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-brand {
            color: #fff;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .ftco-navbar-light.scrolled .navbar-brand {
        color: #000000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-brand {
        font-weight: 400;
        font-size: 20px;
        background: #232931;
        padding: 0 1em;
    }

        .navbar-brand span {
            font-weight: 900;
            color: #fff;
        }

    .ftco-navbar-light.scrolled .navbar-brand {
        color: #000000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-brand {
        font-weight: 400;
        font-size: 20px;
        background: #232931;
        padding: 0 1em;
    }

        .navbar-brand span {
            font-weight: 900;
            color: #fff;
        }


