﻿@model DuaTaxi.AuthServer.Models.ForgotPasswordViewModel

<div class="row">




        <h1 class="mt-5 mb-3">ForgotPassword</h1>


        <div class="container pt-3">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-xs-10  text-center">
                    <div class="boxed boxed--lg boxed--border">
                        <form asp-route="ForgotPassword">
                            <a class="navbar-brand pb-3 pt-3 pl-5 pr-5" ><span>DuaTaxi</span></a>
                           
                            <div class="form-group pt-4">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                            </div>                        

                            <div class="mt-4 mb-4">
                                <button class="btn btn-primary" name="button" value="login">Submit</button>                                
                            </div>
                         
                            <partial name="_ValidationSummary" />
                        </form>


                    </div>
                </div>
            </div>
        </div>

 


</div>

