﻿
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}



<div class="row">




    <h1 class="mt-5 mb-3"></h1>


    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-xs-10  text-center">
                <div class="boxed boxed--lg boxed--border">
                    <form asp-route="ForgotPassword">
                        <a class="navbar-brand pb-3 pt-3 pl-5 pr-5"><span>DuaTaxi</span></a>

                        <div class="pt-5">
                            <p class="pt-5">
                                Please check your email to reset your password.
                            </p>
                        </div>

                        <partial name="_ValidationSummary" />
                    </form>


                </div>
            </div>
        </div>
    </div>




</div>

