﻿
@model LoginViewModel

<div class="row">

    @if (Model.EnableLocalLogin) {


        <h1 class="mt-5 mb-3">Login</h1>


        <div class="container pt-3">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-xs-10  text-center">
                    <div class="boxed boxed--lg boxed--border">
                        <form asp-route="Login">
                            <a class="navbar-brand pb-3 pt-3 pl-5 pr-5" href="https://duataxi.com"><span>DuaTaxi</span></a>

                            <!-- <img class="md-4" src="../../../assets/angular_solidBlack.svg" alt="" width="125" height="125"> -->
                            <h2 class="heading-section ftco-animated pt-5"> <strong>Login </strong></h2>


                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="Username">Email</label>
                                <input class="form-control" placeholder="Email" asp-for="Username" autofocus>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>

                            @if (Model.AllowRememberLogin) {
                                <div class="form-check">
                                    <input type="checkbox" asp-for="RememberLogin" class="form-check-input">
                                    <label asp-for="RememberLogin" class="form-check-label">Remember My Login</label>
                                </div>
                            }

                            <div class="mt-4 mb-4">
                                <button class="btn btn-primary" name="button" value="login">Login</button>
                                <button class="btn btn-light" name="button" value="cancel">Cancel</button>
                            </div>

                            <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>

                            <partial name="_ValidationSummary" />
                        </form>

                      
                    </div>
                </div>
            </div>
        </div>


    }

    @*@if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-4 ml-5">

                <h1 class="mt-5 mb-3">External Login</h1>

                <div class="list-group">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <a class="list-group-item list-group-item-action"
                           asp-controller="Account"
                           asp-action="ExternalLogin"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            @provider.DisplayName
                        </a>
                    }
                </div>
            </div>
        }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any()) {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }*@
</div>

