﻿@model DuaTaxi.AuthServer.Models.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

@*<h1>ResetPassword</h1>*@

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


<div class="row">




    <h1 class="mt-5 mb-3">ResetPassword</h1>


    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-xs-10  text-center">
                <div class="boxed boxed--lg boxed--border">
                    <form asp-action="ResetPassword">
                    <a href="https://duataxi.com" class="navbar-brand pb-3 pt-3 pl-5 pr-5 " ><span>DuaTaxi</span></a>
                      
                        <div class="form-group">
                            <label asp-for="Password" class="control-label pt-5"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>




</div>
